@font-face {
  font-family: 'Lato';
  font-weight: 100;
  src: url('../fonts/Lato/Lato-Thin.ttf');
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  font-weight: 300;
  src: url('../fonts/Lato/Lato-Light.ttf');
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  font-weight: 400;
  src: url('../fonts/Lato/Lato-Regular.ttf');
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  font-weight: 700;
  src: url('../fonts/Lato/Lato-Bold.ttf');
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  font-weight: 900;
  src: url('../fonts/Lato/Lato-Black.ttf');
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

*:focus {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

:root {
  --font-thin: 100;
  --font-light: 300;
  --font-regular: 400;
  --font-bold: 700;
  --font-black: 900;
  --white: #ffffff;
  --black: #000000;
  --text: #333333;
  --primary: #d52b1e;
  --secondary: #ffd449;
  --shadow: 0px 10px 15px rgba(213, 43, 30, 0.3);
  --gradient-background: linear-gradient(180deg, #E33721 0%, #B40D00 100%);

}

p,
.nav-link {
  margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
  font-weight: var(--font-bold);
}

figure {
  display: flex;
  margin-bottom: 0;
  align-items: center;
  justify-content: center;
}

figure img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

section {
  padding: 60px 0;
}

.btn {
  border: none;
  outline: none;
}

.button_parent {
  filter: drop-shadow(var(--shadow));

}

.btn {
  display: flex;
  color: var(--white);
  padding: 14px 60px;
  position: relative;
  background: transparent;
  text-transform: uppercase;
  transition: 0.2s ease-in-out;
  font-weight: var(--font-bold);
  font-size: clamp(14px, 2vw, 16px);
  background: var(--gradient-background);
  clip-path: polygon(6% 0%, 94% 0%, 100% 50%, 94% 100%, 6% 100%, 0% 50%);
}

.btn:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(100% - 12px);
  z-index: 2;
  height: calc(100% - 10px);
  transform: translate(-50%, -50%);
  background: var(--gradient-background);
  clip-path: polygon(5.3% 0%, 94.7% 0%, 100% 50%, 94.7% 100%, 5.3% 100%, 0% 50%);
}

.btn:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(100% - 3px);
  z-index: 1;
  height: calc(100% - 3px);
  clip-path: polygon(6% 0%, 94% 0%, 100% 50%, 94% 100%, 6% 100%, 0% 50%);
  transform: translate(-50%, -50%);
  background: var(--white);
}

.btn span {
  z-index: 3;
  position: relative;
}

.btn:hover {
  color: var(--white);
}

.scale {
  transition: 0.2s ease-in-out;
}

.scale:hover {
  translate: 0 -4px;
  color: var(--white);
}

.heading_img {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid var(--primary);
}

.heading_img img {
  height: auto;
  max-width: 50px;
}


/* header */
.header {
  z-index: 9999;
  position: relative;
}

.header_top {
  background: var(--black);
}

.contact_info {
  display: flex;
  gap: 3px;
  align-items: center;
  text-decoration: none;
  color: var(--white);
}

.contact_info_icon {
  width: 25px;
  height: 25px;
}

.contact_info span {
  color: var(--white);
  font-weight: var(--font-medium);
  font-size: clamp(14px, 2vw, 16px);
}

.social_link .contact_info_icon {
  width: 30px;
  height: 30px;
  padding: 7px;
  border-radius: 5px;
  background: var(--white);
}

.logo {
  width: 180px;
  height: 60px;
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.navbar-nav {
  gap: 30px;
  flex-direction: row;
}

.navbar-nav .nav-link {
  color: var(--text);
  text-transform: uppercase;
  font-weight: var(--font-black);
  font-size: clamp(12px, 2vw, 14px);
}

/* hero */
.hero {
  min-height: 100dvh;
  background: url('../images/common/hero_bg.svg') center no-repeat;
  background-size: cover;
}

.hero_wrapper {
  max-width: 992px;
  margin: auto;
}

.hero_heading_wrapper {
  max-width: 768px;
  margin: 0 auto;
}

.hero_heading {
  text-transform: uppercase;
  font-size: clamp(40px, 5vw, 50px);
  font-weight: var(--font-light);
}

.hero_heading span {
  font-weight: var(--font-bold);
}

.hero_desc {
  color: var(--text);
  font-size: clamp(16px, 2vw, 18px);
}

.order-form {
  width: 100%;
  text-align: center;
  border-radius: 8px;
  overflow: hidden;
  background-color: var(--white);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.order-form h2 {
  padding: 14px 19px;
  margin-bottom: 20px;
  color: var(--white);
  background: var(--black);
  font-size: clamp(14px, 2vw, 16px);
  font-weight: var(--font-bold);
  letter-spacing: 0.24em;
  text-transform: uppercase;
}

.order-form label {
  text-align: left;
  display: block;
  color: var(--text);
  margin-bottom: 5px;
  font-weight: var(--font-bold);
  font-size: clamp(12px, 2vw, 14px);
}

.order-form select {
  cursor: pointer;
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  background: #f3f3f3;
  border: 1px solid #ccc;
  font-size: clamp(12px, 2vw, 14px);
  font-weight: var(--font-regular);
}

.order-form select:focus {
  border: 1px solid #ccc !important;
}

.order-form .button_parent {
  display: flex;
  align-items: center;
  padding: 30px 0 38px 0;
  justify-content: center;
}

.order-form .btn {
  clip-path: none;
  background: transparent;
}

.order-form .btn:after {
  content: none;
}

.price {
  padding: 6px 20px;
  color: var(--text);
  font-weight: var(--font-black);
  font-size: clamp(20px, 2vw, 22px);
  background: #F1F1F1;
  border-radius: 5px;

}