@font-face {
  font-family: 'Lato';
  font-weight: 100;
  src: url('../fonts/Lato/Lato-Thin.ttf');
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  font-weight: 300;
  src: url('../fonts/Lato/Lato-Light.ttf');
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  font-weight: 400;
  src: url('../fonts/Lato/Lato-Regular.ttf');
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  font-weight: 700;
  src: url('../fonts/Lato/Lato-Bold.ttf');
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  font-weight: 900;
  src: url('../fonts/Lato/Lato-Black.ttf');
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

*:focus {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

:root {
  --font-thin: 100;
  --font-light: 300;
  --font-regular: 400;
  --font-bold: 700;
  --font-black: 900;
  --white: #ffffff;
  --black: #000000;
  --text: #333333;
  --primary: #d52b1e;
  --secondary: #ffd449;
  --shadow: 0px 10px 15px rgba(213, 43, 30, 0.3);
  --gradient-background: linear-gradient(180deg, #E33721 0%, #B40D00 100%);

}

p,
.nav-link {
  margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
  font-weight: var(--font-bold);
}

figure {
  display: flex;
  margin-bottom: 0;
  align-items: center;
  justify-content: center;
}

figure img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

section {
  padding: 60px 0;
}

.container-xl {
  position: relative;
}

.btn {
  border: none;
  outline: none;
}

.button_parent {
  filter: drop-shadow(var(--shadow));
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  --polygon-value: 0px;
  display: flex;
  color: var(--white);
  padding: 12px 30px;
  height: 50px;
  position: relative;
  background: transparent;
  text-transform: uppercase;
  transition: 0.2s ease-in-out;
  font-weight: var(--font-bold);
  background: var(--gradient-background);
  clip-path: polygon(calc(0% + var(--polygon-value) + 16px) calc(0%),
    calc(100% - var(--polygon-value) - 16px) calc(0%),
    calc(100% - var(--polygon-value)) calc(50%),
    calc(100% - var(--polygon-value) - 16px) calc(100%),
    calc(0% + var(--polygon-value) + 16px) calc(100%),
    calc(0% + var(--polygon-value)) calc(50%));
  align-items: center;
  justify-content: center;
}

.btn:before {
  content: '';
  --polygon-value: 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  z-index: 2;
  transform: translate(-50%, -50%);
  background: var(--gradient-background);
  clip-path: polygon(calc(0% + var(--polygon-value) + 11px) calc(0% + 6px),
    calc(100% - var(--polygon-value) - 11px) calc(0% + 6px),
    calc(100% - var(--polygon-value) + 1px) calc(50%),
    calc(100% - var(--polygon-value) - 11px) calc(100% - 6px),
    calc(0% + var(--polygon-value) + 11px) calc(100% - 6px),
    calc(0% + var(--polygon-value) - 1px) calc(50%));
}

.btn:after {
  --polygon-value: 2px;
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  z-index: 1;
  transform: translate(-50%, -50%);
  background: var(--white);
  clip-path: polygon(calc(0% + 17px) calc(0% + var(--polygon-value)),
    calc(100% - 17px) calc(0% + var(--polygon-value)),
    calc(100% - var(--polygon-value)) calc(50%),
    calc(100% - 17px) calc(100% - var(--polygon-value)),
    calc(0% + 17px) calc(100% - var(--polygon-value)),
    calc(0% + var(--polygon-value)) calc(50%));
}

.btn span {
  z-index: 3;
  position: relative;
  font-size: clamp(12px, 3vw, 14px);
}

.btn i {
  z-index: 3;
  position: relative;
  font-size: clamp(18px, 3vw, 20px);
}

.btn:hover {
  color: var(--white);
}

.scale {
  transition: 0.2s ease-in-out;
}

.scale:hover {
  translate: 0 -4px;
  color: var(--white);
}

.heading_img {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid var(--primary);
}

.heading_img img {
  height: auto;
  max-width: 40px;
}

.sec_heading {
  font-weight: var(--font-light);
  font-size: clamp(30px, 4vw, 40px);
  text-align: center;
  text-transform: uppercase;
  color: var(--text);
  padding: 50px 0 10px;
}

.sec_heading span {
  font-weight: var(--font-bold);
}

.sec_heading_parent {
  margin-bottom: 60px;
}

.sec_heading_parent.white {
  filter: brightness(20);
}

.sec_heading_parent.start,
.sec_heading_parent.start * {
  text-align: left;
  align-items: flex-start;
  justify-content: flex-start;
}

.sec_desc {
  font-weight: var(--font-regular);
  line-height: 30px;
  text-align: center;
  color: #494949;
  max-width: 768px;
  margin: 0 auto;
}


/* header */
.header {
  z-index: 9999;
  position: relative;
}

.header_top {
  background: var(--black);
}

.contact_info {
  display: flex;
  gap: 3px;
  align-items: center;
  text-decoration: none;
  color: var(--white);
}

.contact_info_icon {
  width: 25px;
  height: 25px;
}

.contact_info span {
  color: var(--white);
  font-weight: var(--font-medium);
  font-size: clamp(14px, 2vw, 16px);
}

.social_link .contact_info_icon {
  width: 30px;
  height: 30px;
  padding: 7px;
  border-radius: 5px;
  background: var(--white);
}

.logo {
  width: 140px;
  height: auto;
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.navbar-nav {
  gap: 30px;
}

.navbar-nav .nav-link {
  padding: 0;
  color: var(--text);
  text-transform: uppercase;
  font-weight: var(--font-black);
  font-size: clamp(12px, 2vw, 14px);
}

.menu_btn .btn {
  padding: 12px 20px;
}

/* hero */
.hero {
  min-height: 100dvh;
  background: url('../images/common/hero_bg.svg') center no-repeat;
  background-size: cover;
}

.hero_wrapper {
  max-width: 992px;
  margin: auto;
}

.hero_heading_wrapper {
  max-width: 768px;
  margin: 0 auto;
}

.hero_heading {
  text-transform: uppercase;
  font-size: clamp(40px, 5vw, 50px);
  font-weight: var(--font-light);
}

.hero_heading span {
  font-weight: var(--font-bold);
}

.hero_desc {
  color: var(--text);
  font-size: clamp(16px, 2vw, 18px);
}

.order-form {
  width: 100%;
  text-align: center;
  border-radius: 8px;
  overflow: hidden;
  background-color: var(--white);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.order-form h2 {
  padding: 14px 19px;
  color: var(--white);
  background: var(--black);
  font-size: clamp(14px, 2vw, 16px);
  font-weight: var(--font-bold);
  letter-spacing: 0.24em;
  text-transform: uppercase;
}

.order-form label {
  text-align: left;
  display: block;
  color: var(--text);
  margin-bottom: 5px;
  font-weight: var(--font-bold);
  font-size: clamp(12px, 2vw, 14px);
}

.order-form select {
  cursor: pointer;
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  background: #f3f3f3;
  border: 1px solid #ccc;
  font-size: clamp(12px, 2vw, 14px);
  font-weight: var(--font-regular);
}

.order-form select:focus {
  border: 1px solid #ccc !important;
}

.order-form .button_parent {
  display: flex;
  align-items: center;
  padding: 20px 0 28px 0;
  justify-content: center;
}

.order-form .btn {
  clip-path: none;
  background: transparent;
}

.order-form .btn:after {
  content: none;
}

.price {
  padding: 6px 20px;
  color: var(--text);
  font-weight: var(--font-black);
  font-size: clamp(20px, 2vw, 22px);
  background: #F1F1F1;
  border-radius: 5px;
}

/* About */
.about {
  background-image: url('../images/backgrounds/about_bg.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  position: relative;
  min-height: 700px;
  display: flex;
  align-items: flex-end;
  padding-bottom: 0;
  margin-bottom: 60px;
}

.about_box {
  position: relative;
  max-width: 450px;
  padding: 40px 35px;
  background: #333333;
}

.sec_sub_heading {
  line-height: 30px;
  margin-bottom: 10px;
  color: var(--white);
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-size: clamp(14px, 2vw, 16px);
  font-weight: var(--font-regular);
}

.about_heading {
  line-height: 1;
  color: var(--white);
  text-transform: capitalize;
  font-weight: var(--font-light);
  font-size: clamp(40px, 5vw, 60px);
}

.about_heading_2 {
  font-weight: 800;
  color: var(--black);
  margin-bottom: 20px;
  text-transform: capitalize;
  font-size: clamp(30px, 4vw, 40px);
}

.bg_box {
  content: '';
  position: absolute;
  width: 450px;
  height: 300px;
  bottom: 0;
  left: 60px;
  background: var(--primary);
}

.about_box_2 {
  position: relative;
  margin-bottom: -80px;
  padding: 32px 80px;
  background: var(--white);
}

/* career */
.career {
  margin-top: 80px;
  padding-block: 60px;
  padding-bottom: 120px;
}

.career .bg_box {
  z-index: -1;
  bottom: -120px;
  height: calc(100% + (120px * 2));
}

.career .row {
  position: relative;
}

.career_heading {
  font-weight: var(--font-black);
  font-size: clamp(30px, 4vw, 35px);
}

/* career level */
.career_level .sec_heading_parent {
  margin-top: -45px;
}

.career_grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
}

.career_card {
  display: flex;
  flex-direction: column;
}

.career_card:not(:last-child) {
  border-right: 1px solid #0003;
}

.career_card_img {
  border-radius: 50%;
  width: 110px;
  height: 110px;
  border: 2px dashed var(--primary);
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  position: relative;
  padding: 30px;
  margin-bottom: 20px;
}

.career_card_img:before,
.career_card_img:after {
  content: "";
  position: absolute;
  height: calc(100% - 10px);
  border-radius: 50%;
  background: linear-gradient(45deg, #800116 14.64%, #F9002A 85.36%);

  width: calc(100% - 10px);
}

.career_card_img:after {
  height: calc(100% - 20px);
  width: calc(100% - 20px);
  background: linear-gradient(224.88deg, #800116 1.72%, #F9002A 84%);
  z-index: 2;
}

.career_card_img img {
  width: 100%;
  position: relative;
  z-index: 3;
  height: 100%;
}

.career_card_content {
  margin-bottom: 15px;
}

.career_card_title {
  font-style: normal;
  font-size: 20px;
  text-align: center;
  font-weight: var(--font-bold);
  color: var(--text);
}

.career_card_desc {
  font-weight: 500;
  font-size: clamp(14px, 2vw, 16px);
  text-align: center;
  color: #494949;
}

.career_card .button_parent {
  margin-top: auto;
}

.career_card .btn {
  height: 45px;
}

.career_card .btn:before {
  content: none;
}

.career_card .btn span {
  color: var(--text);
}

/* banner */
.banner_main {
  display: flex;
  align-items: flex-end;
  padding: 20px 0 0 20px;
  border: 1px solid #0002;
  border-radius: 15px;
  grid-gap: 40px;
}

.banner_content img {
  position: absolute;
  bottom: 0;
  right: 0;
  max-width: 500px;
}

.banner_content h5 {
  position: relative;
  z-index: 1;
  font-size: clamp(20px, 4vw, 30px);
  max-width: 500px;
  font-weight: var(--font-light);
}

.banner_content {
  display: flex;
  align-self: stretch;
  flex-direction: column;
  grid-gap: 20px;
  justify-content: center;
  position: relative;
  flex: 1;
  padding-bottom: 50px;
  align-items: flex-start;
}

.banner_content .button_parent {
  z-index: 2;
}

.banner_img {
  max-width: 331px;
}

.banner_content h5 span {
  font-weight: var(--font-bold);
}


/* consultation */
.consultation {
  background-image: url('../images/backgrounds/consultation_bg.webp');
  background-size: cover;
  background-position: center;
  margin-bottom: 130px;
}

.consultation_heading {
  font-size: clamp(25px, 4vw, 30px);
  color: var(--white);
  font-weight: var(--font-bold);
}

.consultation_description {
  font-size: clamp(14px, 2vw, 16px);
  color: var(--bs-gray-300);
  margin-top: 10px;
}

.consultation_img {
  width: 70px;
  height: 70px;
}

.consultation_wrapper {
  padding: 40px 30px;
  translate: 0 100px;
  margin-top: -40px !important;
}

/* pricing */
.pricing_card .card-body {
  border-radius: 10px;
  padding: 15px !important;
}

.pricing_price {
  padding: 30px 0 10px;
}

.pricing_card .card-body .list-group {}

.pricing_card .card-header {
  margin: 0 auto;
  max-width: 90%;
  padding: 10px;
  position: relative;
  border-radius: 10px;
  margin-bottom: -30px;
  background: var(--gradient-background);
}

.online_payment {
  display: flex;
  grid-gap: 10px;
  align-items: center;
  justify-content: center;
  padding: 30px 25px 12px;
}

.pricing_card .card-body .btn {
  width: 100%;
  color: var(--black);
}

.pricing_card .card-body .btn::before {
  background: transparent;
}

/* special pakcage */
.special_package {
  overflow: hidden;
  position: relative;
}

.special_package_group {
  grid-gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.special_package_heading {
  padding: 0;
  color: var(--white);
  font-size: clamp(25px, 4vw, 30px);
}

.special_package_prices {
  padding: 10px;
  grid-gap: 10px;
  position: relative;
  display: inline-flex;
  align-items: flex-end;
  background: var(--white);
}

.special_package_prices:before {
  content: '';
  position: absolute;
  height: 100%;
  right: 100%;
  top: 0;

  width: 100vmax;
  background: var(--white);
}

.special_package_saleprice {
  line-height: 1;
  font-weight: var(--font-black);
  font-size: clamp(30px, 4vw, 40px);
}

.special_package_regularprice {
  font-size: 16px;
  font-weight: var(--font-regular);
  color: var(--bs-gray-600);
}

.special_package_desc {
  color: var(--bs-gray-500);
  line-height: 1.6;
}

.special_package_features {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 20px;
}

.special_package_features .list-group-item {
  display: flex;
  grid-gap: 10px;
  font-size: 14px;
  padding: 12px 0;
  align-items: center;
  background: transparent;
  color: var(--bs-gray-300);
  border-bottom: 1px solid var(--bs-gray-800) !important;
}

.special_package_features .list-group-item img {
  height: 20px;
}

.special_package .button_parent {
  margin-top: 30px;
}

.special_package .button_parent .btn:after {
  background: var(--black);
}

div[class^="container-"]:has(.special_package_img) {
  position: unset;
}

.col-md-6:has(.special_package_img) {
  right: -12px;
  position: absolute;
  bottom: 0;
}

/* services */
.service-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto;
}

.service-circle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  border: 2px dashed var(--primary);
  border-radius: 50%;
  position: relative;
}

.service-circle img {
  width: 50px;
  height: 50px;
}

.service-number {
  top: -15px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  position: absolute;
  color: var(--white);
  background-color: var(--primary);
}

.service-text {
  font-weight: var(--font-black);
  margin-top: 15px;
  text-align: center;
}

/* testimonial */
.testimonial-swiper .swiper-slide {
  max-width: 480px;
  height: unset;
}

.testimonial {
  background: var(--gradient-background);
}

.testimonial .sec_heading {
  padding-top: 20px;
  font-size: clamp(25px, 4vw, 35px);
}

.testimonial-nav {
  display: flex;
  grid-gap: 10px;
  align-items: center;
}

.testimonial-nav .button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background-color: var(--white);
  color: var(--primary);
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.testimonial-nav .button:hover {
  background: #fff4;
  color: var(--white);
}

.testimonial-nav .button:focus {
  outline: none;
}

.testimonial-card {
  height: 100%;
  padding: 30px;
  display: flex;
  position: relative;
  flex-direction: column;
  border-radius: 10px;
  background-color: var(--white);
}

.testimonial-card .stars {
  display: flex;
  align-items: center;
  grid-gap: 8px;
}

.testimonial-card .star {
  background: transparent;
  border-radius: 0;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.testimonial-card .star img {
  height: 25px;
  width: 25px;
}

.testimonial-heading {
  margin: 15px 0;
  font-weight: var(--font-black);
  font-size: clamp(18px, 2vw, 20px);
}

.testimonial-card .testimonial-text {
  color: var(--text);
  margin-bottom: 20px;
}

.testimonial-card .reviewer {
  display: flex;
  margin-top: auto;
  align-items: center;
}

.reviewer span {
  display: flex;
  color: var(--bs-gray-600);
  font-size: clamp(12px, 2vw, 14px);
}

.testimonial-card .reviewer img {
  width: 60px;
  height: 60px;
  border-radius: 8px;
  margin-right: 15px;
  border: 2px solid var(--primary);
}

.counter-row{
  margin-top: 30px;
}

.counter_count{
  font-size: 4em;
}

.counter_count .counter {
  font-size: 1em;
  font-weight: var(--font-black);
}

/* responsive */
@media (min-width: 768px) {
  .order-form .button_parent {
    padding: 30px 0 38px 0;

  }
}

@media (min-width: 993px) {
  .btn {
    padding: 0px 60px;
  }

  .btn span {
    font-size: clamp(14px, 3vw, 16px);
  }

  .logo {
    width: 180px;
    height: 60px;
  }
}